* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background: #050816;

  color: #f8fafc;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;
}

a {
  color: inherit;

  text-decoration: none;
}

button {
  border: none;

  cursor: pointer;
}

::selection {
  background: rgba(168, 85, 247, 0.35);

  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: #312e81;

  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}